@import '../../utils.scss';

.favoritesPlayers {
    display: grid;
    gap: 1em;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.2em;
    flex-wrap: wrap;
    justify-content: center;

    li {
        @include zoomIn;
        display: flex;
        align-items: center;
        gap: 0.2em;
        cursor: pointer;
        border: solid 1px black;
        background-color: var(--background-color);
        padding: 0.5em;
        font-weight: bold;
        border-radius: $border-radius;
        transition: background-color 0.5s;
        height: 5em;
        min-width: 12em;

        img {
            height: 100%;
            border-radius: $border-radius;
        }

        span {
            width: 100%;
            text-align: center;
        }

        &.empty {
            border: solid 1px gray;
            background-color: var(--background-color);
            cursor: default;
        }

        &:focus,
        &:hover {
            background-color: rgba(var(--background-color-components), 0.85);
            outline: solid 1px white;
        }
    }

    @include small-device {
        grid-template-columns: repeat(2, 1fr);
    }

    @include large-device {
        grid-template-columns: repeat(4, 1fr);
    }
}

.favoritesIcon {
    cursor: pointer;
}