@import '../../utils.scss';

@font-face {
    font-family: paladins;
    src: url(../../resources/paladinsstraight.ttf);
}

.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    justify-content: center;

    img {
        width: 5rem;
    }

    span {
        font-size: 2.5rem;
        color: white;
        text-shadow: 0 0 1rem black;
        font-family: 'paladins';
    }

    &:link {
        text-decoration: none;
    }

    @include medium-device {
        img {
            width: 9rem;
        }

        span {
            font-size: 3rem;
        }
    }

    @include large-device {
        justify-content: start;
        padding-left: 6rem;
    }

    @include xlarge-device {
        img {
            width: 12rem;
        }

        span {
            font-size: 3.5rem;
        }
    }
}