//Screen width
$sm: 576px;
$md: 720px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin xsmall-device {
    @media screen and (max-width: $sm) {
        @content;
    }
}

@mixin small-device {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin medium-device {
    @media screen and (min-width: $md) {
        @content;
    }
}

@mixin large-device {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@mixin xlarge-device {
    @media screen and (min-width: $xl) {
        @content;
    }
}

@mixin xxlarge-device {
    @media screen and (min-width: $xxl) {
        @content;
    }
}

//Colors
$goodColor: rgb(0, 197, 0);
$badColor: rgb(197, 0, 0);
$greyColor: grey;
$goodDarkColor: #003a03;
$badDarkColor: #3a0000;
$greyDarkColor: rgb(78, 78, 78);

body {
    --font-color-components: 0, 0, 0;
    --background-color-components: 255, 255, 255;
    --background-alpha: 0.5;
    --theme-opacity: 1;
    --button-lightness: 57%;

    --font-color: rgb(var(--font-color-components));
    --background-color: rgba(var(--background-color-components), var(--background-alpha));

    color: var(--font-color);

    @media (prefers-color-scheme: dark) {
        --button-lightness: 40%;
        --font-color-components: 197, 197, 197;
        --background-color-components: 25, 25, 25;
        --background-alpha: 0.7;
        --theme-opacity: 0.7;
    }

    &.dark-theme {
        --button-lightness: 40%;
        --font-color-components: 197, 197, 197;
        --background-color-components: 25, 25, 25;
        --background-alpha: 0.7;
        --theme-opacity: 0.7;
    }

    &.light-theme {
        --font-color-components: 0, 0, 0;
        --background-color-components: 255, 255, 255;
        --background-alpha: 0.5;
        --theme-opacity: 1;
        --button-lightness: 57%;
    }
}

@mixin winBackground {
    background-color: rgba($goodDarkColor, 0.8);
}

@mixin loseBackground {
    background-color: rgba($badDarkColor, 0.8);
}

@mixin hoverFilter {
    backdrop-filter: brightness(0.6);
}

//Border-radius
$border-radius: 5px;

// Animation
@mixin fadeIn {
    animation: fadeIn 500ms;
}

@mixin zoomIn {
    animation: zoomIn 500ms;
}