@import '../../../../utils.scss';

#playerloadouts {
    .loadoutsList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .4em;
        overflow-y: auto;
    }

    .deck {
        display: flex;
        flex-direction: column;
        gap: .4em;
        padding: .4em;
        border: solid 1px #ccc;
        border-radius: $border-radius;

        .deckName {
            font-size: 1.5em;
        }

        ul {
            list-style: none;
            display: flex;
            gap: .4rem;

            li {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: .2rem;

                img {
                    width: 15vw;

                    @include medium-device {
                        width: 8rem;
                    }

                    aspect-ratio: 64 / 49;
                }

                .cardName {
                    position: absolute;
                    width: 15vw;
                    font-size: 3vw;

                    @include medium-device {
                        width: 8rem;
                        font-size: 1rem;
                    }

                    aspect-ratio: 64 / 49;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    text-align: center;
                    color: white;
                    pointer-events: none;
                }

                .points {
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: .3em;
                    gap: .2em;

                    li {
                        border-radius: $border-radius;
                        background-color: $goodDarkColor;
                    }
                }
            }
        }
    }
}